#login-blog-container {
  padding: 32px 16px;
  margin-bottom: 32px;
  border-bottom: 8px solid black;
  .form-control {
    padding: 32px 16px !important;
    border-radius: 16px;
    border: 4px solid black;
    font-weight: 600;
  }
}